html,
body {
    margin: 0px 4px 0px 4px;
    min-width: 200px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.6;
    overflow-wrap: break-word;
}

flexBox {
    display: flex;
    /* outline: red solid 1px; */
    height: 96vh;
    height: calc(var(--vh, 1vh) * 100);
    justify-content: center;
}

centeringBox {
    /* outline: red solid 1px; */
    display: flex;
    min-width: 200px;
    width: 100%;
    flex-direction: column;
    min-width: 150px;
}

titleDescription {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    padding-top: 10px;
}

subtitleDescription {
    font-family: 'Amatic SC', cursive;
    font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1800 - 300)));
    font-weight: bold;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    padding-bottom: 10px;
}

pictureFrame {
    cursor: pointer;
    display: flex;
    flex-direction: "column";

}

pictureFrameLarge {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
}

imgLarge{
    display: flex;
}

pictureFrameSmall {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    width: 100%;
}

.imgSmall{
    display: flex;
}

img {
    border-radius: 20px;
    /* z-index: -1; */
}

bookingFrame {
    display: flex;
    padding: 10px 00px 00px 00px;
    flex-direction: column-reverse;
}

bookingFrameDescription {
    display: block;
    width: 100%;
    /* padding: 00px 00px 10px 00px; */
}

breakfastTitle {
    padding: 20px 20px 00px 20px;
}

bookingFrameDescriptionText {
    display: block;
    padding: 0px 20px 10px 20px;
}

bookingFrameCost {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px grey;
    /* outline: red solid 1px; */
}

bookingFrameCostText {
    display: block;
    padding: 20px 20px 0px 20px;
    /* border-bottom: 1px black solid; */
}

bookingFrameCostDescription {
    display: block;
    padding: 20px 20px 00px 20px;
}

.bookingFrameCostButton {
    display: block;
    color: white;
    text-align: center;
    background-color: rgb(0, 133, 82);
    padding: 15px;
    border-radius: 500px;
    box-shadow: 0px 0px 5px grey;
    margin: 10px 00px 00px 00px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
}

.bookingDirectClass {
    display: block;
    /* border-top: 1px red solid; */
    /* margin-top: 1000px; */
    color: white;
    text-align: center;
    background-color: rgb(0, 95, 133);
    padding: 20px;
    border-radius: 500px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

.bookingDirectClass2 {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    background-color: rgb(0, 95, 133);
    padding: 20px;
    border-radius: 500px;
    box-shadow: 0px 0px 5px grey;
    margin: 0px 0px 10px 00px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    z-index: 1;
}

mobilepay {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.info {
    padding: 10px 20px 10px 20px;
}

.infoTitle {
    display: block;
    font-weight: 500;
    font-size: 20px;
}

languageBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

languageButtonDanish {
    display: block;
}

languageButtonEnglish {
    display: block;
    /* height: 100px; */
}

paddingboxBottom {
    /* outline: red 1px solid; */
    padding-bottom: 140px;
    /* margin: 200px; */
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

map {
    padding: 10px 20px 10px 20px;
}

.bookingCost {
    display: block;
    margin: 20px 20px 00px 20px;
}

bookingText {
    display: block;
    margin: 00px 20px 00px 20px;
}

bookingBottomButton {
    /* outline: 1px red solid; */
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* display: flex; */
    color: white;
    text-align: center;
    background-color: rgb(0, 133, 82);
    border-radius: 500px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

bookingBottomDirect {
    position: fixed;
    display: block;
    text-align: center;
}

bookingBorder {
    display: block;
    border-bottom: 1px solid gray;
    opacity: 0.3;
    margin: 00px 20px 00px 20px;
}

settingBox {
    display: block;
    /* margin-bottom: 100px; */
}

.languageButton {
    display: block;
    /* color: white; */
    /* text-align: center; */
    width: 80px;
    height: 80px;
    /* background-color: rgb(0, 95, 133); */
    /* padding: 20px; */
    border-radius: 500px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    cursor: pointer;
    /* padding-top: 10px; */
    /* font-size: 20px; */
    /* font-weight: 900; */
}

.roomFrame {
    /* outline: 1px red solid; */
    display: block;
    margin: 20px;
}

feedbackBox {
    /* outline: 1px red solid; */
    display: block;
    /* padding-bottom: 120px; */
}

feedbackHeartRatingBox {
    display: flex;
    justify-content: center;
}

feedbackHeartBox {
    display: flex;
    width: 80%;
    /* padding: 10px; */
    align-self: center;
    justify-content: center;
    justify-items: center;
}

.heart {
    cursor: pointer;
    width: 80px;
    /* box-shadow: 0px 0px 5px grey; */
    filter: drop-shadow(0px 0px 1px grey);
}

ratingBox {
    /* outline: 1px green solid; */
    display: block;
    /* transition-duration: 1s; */
    min-height: 120px;
    text-align: center;
    display: none;
}

feedbackTitle {
    /* display: block; */
}

​ feedbackText {
    display: "none";
    /* text-align: center; */
    /* justify-content: center; */
}

​ feedbackTextMaps {
    display: "none";
    /* justify-content: center; */
}

growBoxTop {
    display: flex;
    flex-grow: 1;
}

growBoxBottom {
    display: flex;
    flex-grow: 1;
}