html,
body {
  margin: 0px 4px 0px 4px;
  min-width: 280px;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
  -moz-animation: 1s ease 0s normal forwards 1 fadein;
  -o-animation: 1s ease 0s normal forwards 1 fadein;
  -ms-animation: 1s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Lexend', sans-serif;
  line-height: 1.6;
  overflow-wrap: break-word;
}

flexBox {
  display: flex;
  height: 96vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
}

centeringBox {
  display: flex;
  min-width: 280px;
  width: 100%;
  flex-direction: column;
}

titleDescription {
  display: block;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  padding-top: 10px;
}

subtitleDescription {
  display: block;
  font-family: 'Amatic SC', cursive;
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1800 - 300)));
  font-weight: bold;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  padding-bottom: 10px;
}

pictureFrameBlock {
  display: block;
}

pictureFrame {
  cursor: pointer;
  display: flex;
}

pictureFrameLarge {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  width: 100%;
  -webkit-justify-content: center;
}

pictureFrameSmall {
  flex-flow: row wrap;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  /* padding-top: 4px */
}

.smallPictureImage {
  /* display: block; */
  /* margin: 40px; */
  /* width: 100px;
    height: 100px; */
  width: calc(50% - 4px);
  height: calc(50% - 4px);
  margin: 2px;
}

img {
  border-radius: 20px;
  /* margin: 4px; */
  /* z-index: -1; */
}

bookingFrameBlock {
  display: block;
}

bookingFrame {
  display: flex;
  padding: 10px 00px 00px 00px;
}

bookingFrameDescription {
  display: block;
  /* width: 50%; */
  /* padding: 00px 00px 10px 00px; */
}

breakfastTitle {
  padding: 20px 20px 00px 20px;
}

bookingFrameDescriptionText {
  display: block;
  padding: 0px 20px 10px 20px;
}

bookingFrameCost {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px grey;
  /* outline: red solid 1px; */
}

bookingFrameCostText {
  display: block;
  padding: 20px 20px 0px 20px;
  /* border-bottom: 1px black solid; */
}

bookingFrameCostDescription {
  display: block;
  padding: 20px 20px 00px 20px;
}

.bookingFrameCostButton {
  display: block;
  color: white;
  text-align: center;
  background-color: rgb(0, 133, 82);
  padding: 15px;
  border-radius: 500px;
  box-shadow: 0px 0px 5px grey;
  margin: 10px 00px 00px 00px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
}

.bookingDirectClass {
  display: block;
  /* border-top: 1px red solid; */
  /* margin-top: 1000px; */
  color: white;
  text-align: center;
  background-color: rgb(0, 95, 133);
  padding: 20px;
  border-radius: 500px;
  box-shadow: 0px 0px 5px grey;
  margin: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

.bookingDirectClass2 {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  text-align: center;
  background-color: rgb(0, 95, 133);
  padding: 20px;
  border-radius: 500px;
  box-shadow: 0px 0px 5px grey;
  margin: 0px 0px 10px 00px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  z-index: 1;
}

bottomMenuBox {
  border-top: 1px solid black;
  display: flex;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  /* height: 60px; */
  background-color: white;
  align-items: center;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottomMenuButton {
  display: flex;
  background-color: white;

  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  color: black;
  border: 1px white solid;
  text-decoration: none;
}

.bottomMenuButton:hover {
  /* filter: invert(1); */
  text-decoration: underline;
  border: 1px black solid;
  border-radius: 50px;
}

mobilepay {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.info {
  display: block;
  padding: 10px 20px 10px 20px;
}

.infoTitle {
  display: block;
  font-weight: 500;
  font-size: 20px;
}

languageBoxBlock {
  display: block;
}

languageBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

languageButtonDanish {
  display: block;
}

languageButtonEnglish {
  display: block;
  /* height: 100px; */
}

paddingboxBottom {
  /* outline: red 1px solid; */
  padding-bottom: 240px;
  /* margin: 200px; */
}

map {
  padding: 10px 20px 10px 20px;
}

.bookingCost {
  display: block;
  margin: 20px 20px 00px 20px;
}

bookingText {
  display: block;
  margin: 00px 20px 00px 20px;
}

bookingBottomDirect {
  position: fixed;
  display: block;
  text-align: center;
}

bookingBorder {
  display: block;
  border-bottom: 1px solid gray;
  opacity: 0.3;
  margin: 00px 20px 00px 20px;
}

settingBox {
  display: block;
  /* margin-bottom: 100px; */
}

.languageButton {
  display: block;
  /* color: white; */
  /* text-align: center; */
  width: 80px;
  height: 80px;
  /* background-color: rgb(0, 95, 133); */
  /* padding: 20px; */
  border-radius: 500px;
  box-shadow: 0px 0px 5px grey;
  margin: 20px;
  cursor: pointer;
}

.roomFrame {
  /* outline: 1px red solid; */
  display: block;
  margin: 20px;
}

feedbackBox {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
  -moz-animation: 1s ease 0s normal forwards 1 fadein;
  -o-animation: 1s ease 0s normal forwards 1 fadein;
  -ms-animation: 1s ease 0s normal forwards 1 fadein;
  /* outline: 1px red solid; */
  display: block;
  /* padding-bottom: 120px; */
}

feedbackHeartRatingBox {
  display: flex;
  justify-content: center;
}

feedbackHeartBox {
  display: flex;
  width: 80%;
  /* padding: 10px; */
  align-self: center;
  justify-content: center;
  justify-items: center;
}

.heart {
  cursor: pointer;
  width: 80px;
  /* box-shadow: 0px 0px 5px grey; */
  filter: drop-shadow(0px 0px 1px grey);
}

ratingBox {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
  -moz-animation: 1s ease 0s normal forwards 1 fadein;
  -o-animation: 1s ease 0s normal forwards 1 fadein;
  -ms-animation: 1s ease 0s normal forwards 1 fadein;
  display: block;
  min-height: 120px;
  text-align: center;
  display: none;
}

feedbackTitle {
  /* display: block; */
}

​ feedbackText {
  display: 'none';
  /* text-align: center; */
  /* justify-content: center; */
}

​ feedbackTextMaps {
  display: 'none';
  /* justify-content: center; */
}

growBoxTop {
  display: flex;
  flex-grow: 1;
}

growBoxBottom {
  display: flex;
  flex-grow: 1;
}

@media (max-width: 50rem) {
  CenteringBox {
    width: 50rem;
    min-width: 280px;
  }
  pictureFrame {
    flex-direction: column;
  }

  bookingFrame {
    flex-direction: column-reverse;
  }

  bookingFrameDescription {
    width: 100%;
  }

  bookingFrameCost {
    width: 100%;
  }

  #bookingBottomButtonID {
    width: 68vw;
  }

  bottomMenuBox {
    width: 100%;
  }
}

@media (min-width: 50rem) {
  CenteringBox {
    width: 50rem;
  }

  pictureFrame {
    flex-direction: row;
  }

  bookingFrame {
    flex-direction: row;
  }

  bookingFrameDescription {
    width: 50%;
  }

  bookingFrameCost {
    width: 50%;
  }

  #bookingBottomButtonID {
    width: 30rem;
  }
  bottomMenuBox {
    width: 50rem;
  }
}
